@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Pretendard-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Pretendard-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard Latin";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Pretendard-Regular.woff2) format("woff2");
  unicode-range:
    U+0020-007E,
    U+00A0-00FF,
    U+2000-206F;
}
@font-face {
  font-family: "Laila";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Laila-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "KoHo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/KoHo-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "42dot Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/42dotSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Montserrat-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Montserrat-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Inria Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/InriaSerif-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/NotoSansKR-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/NotoSansKR-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/NotoSansKR-ExtraBold.woff2) format("woff2");
}
body {
  font-family: var(--font-inter);
  font-weight: var(--fw-regular);
  line-height: normal;
  color: var(--color-black);
  background: var(--color-white);
  font-synthesis: none;
}
